* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #e9eef5;
    color: #344d6b;
}

.navbar {
    width: 95%;
    margin: 30px auto;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f8fc;
    border-radius: 25px;
    box-shadow: 10px 10px 25px rgba(80, 100, 120, 0.15),
        -5px -5px 20px rgba(255, 255, 255, 0.8);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
}

.logo:first-letter {
    font-size: 35px;
}

nav {
    display: flex;
gap: 45px;      
}

nav a {
    text-decoration: none;
    color: #536983;
    font-size: 20px;
    padding-bottom: 8px;
}

nav a:hover {
    color: #315f91;
}

nav .active {
    color: #315f91;
    border-bottom: 2px solid #315f91;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.search {
    display: flex;
    align-items: center;
    background: #e8edf4;
    padding: 12px 18px;
    border-radius: 25px;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 180px;
    font-size: 14px;
}

.login {
    border: none;
    background: #e8edf4;
    color: #376b9f;
    padding: 15px 25px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(80, 100, 120, 0.15);
}

.login:hover {
    background: #dce5f0;
}

.book-1 {
    width: 95%;
    min-height: 340px;
    margin: 30px auto;
    border-radius: 25px;
    background: linear-gradient(
        100deg,
        #dce9f7,
        #edf4fa
    );

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    overflow: hidden;
}

.welcome {
    font-size: 17px;
    letter-spacing: 2px;
    color: #7188a3;
    margin-bottom: 12px;
}

.book-1 h1 {
    font-size: 55px;
    margin-bottom: 10px;
    color: #304d6d;
}

.book-1 h3 {
    font-size: 23px;
    margin-bottom: 15px;
}

.description {
    width: 450px;
    font-size: 17px;
    line-height: 1.6;
    color: #617792;
    margin-bottom: 25px;
}

.shop-btn {
    border: none;
    background: #466d98;
    color: white;
    padding: 15px 28px;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
}

.shop-btn:hover {
    background: #365a82;
}

.books {
    width: 400px;
    position: relative;
    height: 230px;
}

.book {
    position: absolute;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Georgia, serif;
    font-size: 17px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}

.book1 {
    background: #d8d7c8;
    color: #34404b;
    top: 35px;
    left: 50px;
    transform: rotate(3deg);
}

.book2 {
    background: #304e6c;
    top: 90px;
    left: 25px;
    transform: rotate(-2deg);
}

.book3 {
    background: #f1eee5;
    color: #303b42;
    top: 145px;
    left: 45px;
    transform: rotate(1deg);
}

.featured {
    width: 95%;
    margin: 45px auto;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section-title h2 {
    font-size: 30px;
    border-left: 5px solid #4c80b6;
    padding-left: 15px;
}

.section-title a {
    text-decoration: none;
    color: #4675a7;
    font-size: 16px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
}

.book-card {
    background: #f8fafc;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 5px 8px 20px rgba(70, 90, 110, 0.12);
    transition: 0.3s;
}

.book-card:hover {
    transform: translateY(-7px);
    box-shadow: 8px 12px 25px rgba(70, 90, 110, 0.18);
}

.book-cover {
    height: 180px;
    width: 125px;
    margin: 0 auto 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Georgia, serif;
    font-size: 19px;
    font-weight: bold;
    box-shadow: 5px 7px 12px rgba(0,0,0,0.18);
}

.cover1 {
    background: #eee1c8;
    color: #b07c40;
}

.cover2 {
    background: #172e4a;
}

.cover3 {
    background: #a95226;
}

.cover4 {
    background: #f5c4d2;
    color: #b33467;
}

.cover5 {
    background: #f2f1eb;
    color: #55715d;
}

.book-card h3 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #304d6d;
}

.book-card p {
    color: #8494a9;
    font-size: 14px;
    margin-bottom: 15px;
}

.book-card strong {
    display: block;
    color: #3f76b0;
    font-size: 17px;
    margin-bottom: 15px;
}

.book-card button {
    width: 100%;
    border: none;
    background: #5284b9;
    color: white;
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
}

.book-card button:hover {
    background: #3d6e9f;
}

@media (max-width: 1100px) {
    nav {
        gap: 20px;
    }
    .search {
        display: none;
    }
    .book-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 20px;
    }

    .hero {
        padding: 40px;
        flex-direction: column;
        text-align: center;
    }

    .description {
        width: auto;
    }

    .hero-books {
        margin-top: 30px;
    }

    .book-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 500px) {
    .book-container {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 40px;
    }
}